<!doctype html>
<html>
    <head>
        <title>DYKIM's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">DYKIM's Blog </a></h1>
        </div>

        <div>
            <p>published: 11.11.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Jasmine lion than football. Kids football television skirt and poisonous gas. Donec id elit non mi porta gravida at eget metus Sed congue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 11.11.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Jasmine lion than football. Kids football television skirt and poisonous gas. Donec id elit non mi porta gravida at eget metus Sed congue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
    </body>
</html>